/* -------------RESETS------------- */
/* Resets are used for overwriting default html tag properties/  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --clr-primary: #192f57;
  --clr-secondary: #4668a5;
  --clr-light: #ffffff;
  --clr-dark: #2c3333;
  --font: "Poppins", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: var(--clr-dark);
  font-family: var(--font);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header {
  position: fixed;
  width: 100%;
  padding: 1.5rem 0;
  background-color: var(--clr-light);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
  z-index: 100;
}
.header__wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.header__nav {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.header__menu {
  display: flex;
  justify-content: center;
  gap: 4rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav ul {
  display: flex;
  gap: 4rem;
}

.header__nav ul li a {
  color: var(--clr-primary);
}
.header__nav ul li a:hover {
  color: var(--clr-secondary);
  transition: 0.5s ease-in-out;
}

.toggle__menu {
  display: none;
}

.toggle__menu span {
  display: block;
  width: 3rem;
  height: 0.3rem;
  background-color: var(--clr-primary);
  border-radius: 1rem;
  transition: 0.5s ease;
}

@media screen and (max-width: 520px) {
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: var(--clr-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    gap: 3rem;
    transition: right 0.4s ease;
    z-index: 90;
  }

  .header__menu {
    flex-direction: column;
  }

  .header__nav ul li a {
    color: var(--clr-primary);
  }

  .header__nav.open {
    right: 0;
  }

  .toggle__menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .toggle__menu span {
    display: block;
  }

  .header__nav.open ul {
    right: 0;
    transition: all 0.5s ease-in-out;
  }

  .toggle__menu.open span:first-child {
    transform: translate(0, 10px) rotate(225deg);
    transition: all 0.5s ease-in-out;
  }
  .toggle__menu.open span:nth-child(2) {
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .toggle__menu.open span:last-child {
    transform: translate(0, -7.5px) rotate(-225deg);
    transition: all 0.5s ease-in-out;
  }
}

/* Banner */
.banner {
  padding-top: 10rem;
  background-image: url(./real-estate/img/home-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.banner__wrapper {
  padding: 8rem 0;
  height: 100%;
}

.banner__text {
  max-width: 60%;

  h2 {
    color: var(--clr-primary);
    font-weight: 700;
  }
}

/* Properties Section */
.select__properties {
  padding: 4rem 0;
  margin-top: -2rem;
  background-color: var(--clr-secondary);
}

.select__properties__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;

  h2 {
    font-weight: 700;
  }

  h5 {
    letter-spacing: 0.2rem;
  }

  h2,
  h5 {
    color: var(--clr-light);
  }
}

.select__properties__available {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
}

@media (max-width: 520px) {
  .select__properties__available {
    flex-direction: column;
  }
}

/* Services */
.service {
  padding: 10rem 0;
}
.service__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.service__content {
  h2 {
    font-weight: 700;
    width: 90%;
  }

  p {
    margin: 3rem 0;
    text-align: justify;
  }
}

@media (max-width: 520px) {
  .service__wrapper {
    flex-direction: column;
  }
}

/* Testimonials Section */
.testimonials {
  padding: 0;
  background-color: var(--clr-dark);
}

.testimonials__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 20rem;
}

.testimonials__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 15rem;

  h2,
  h3,
  h6,
  p {
    color: var(--clr-light);
  }

  h6 {
    letter-spacing: 0.2rem;
  }

  h2 {
    margin: 2rem 0;
    font-weight: 700;
    width: 80%;
  }

  h3 {
    font-weight: 700;
  }

  p {
    margin: 3rem 0;
  }

  p:last-child {
    margin: 0.5rem 0 5rem;
  }
}

.testimonials__img {
  height: 100%;
}

@media (max-width: 520px) {
  .testimonials__wrapper {
    grid-template-columns: 1fr;
  }

  .testimonials__content {
    padding-top: 5rem;
  }
}

/* Footer */
.footer {
  background-color: var(--clr-primary);
  padding: 2rem 0;
}
.footer__content h6 {
  color: var(--clr-light);
}

/* Properties Page */
.properties {
  padding: 10rem 0;
}

.properties__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10rem 0 0 0;
  text-align: center;
  align-items: center;
  gap: 3rem;

  h2 {
    color: var(--clr-dark);
    font-weight: 700;
    padding-bottom: 10rem;
  }
}

.properties__available {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  .properties__img img {
    width: 65rem;
  }
}

.properties__details {
  text-align: left;
  padding: 0;

  h3 {
    color: var(--clr-dark);
    font-weight: 700;
  }
  p {
    padding-bottom: 2rem;
    text-align: justify;
  }

  a {
    color: var(--clr-secondary);
  }
}
@media (max-width: 520px) {
  .properties__wrapper h2 {
    padding-bottom: 5rem;
  }
  .properties__available {
    grid-template-columns: 1fr;
  }
}

/* Assets */
/* Property Card */
.property {
  width: 100%;
  background-color: var(--clr-light);
  border-radius: 0.5rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
}

.property__img img {
  display: block;
  width: 100%;
}

/*  Property Details */
.property__details {
  padding: 2rem;
}

.property__details h4 {
  font-weight: 700;
}

.property__details table {
  width: 100%;
  margin: 1rem 0;
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.property__details td:first-child {
  width: 45%;
  font-weight: 700;
}

/* Action Section */
.property__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.property__price {
  font-size: 22px;
  font-weight: 700;
}

.btn {
  display: inline-block;
  background-color: transparent;
  border: transparent;
  padding: 1rem 1.2rem;
  color: transparent;
  border-radius: 0.5rem;
}
.btn.bg--primary {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.btn.bg--primary:hover {
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-light);
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}

h1 {
  font-size: 71px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 14px;
}
p {
  font-size: 18px;
}

@media screen and (max-width: 520px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 14px;
  }
  p {
    font-size: 18px;
  }
}
