/* -------------RESETS------------- */
/* Resets are used for overwriting default html tag properties/  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --clr-primary: #192f57;
  --clr-secondary: #4668a5;
  --clr-light: #ffffff;
  --clr-dark: #2c3333;
  --font: "Poppins", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: var(--clr-dark);
  font-family: var(--font);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header {
  padding: 1.5rem 0;
  background-color: var(--clr-light);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
  width: 100%;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* .header__logo h5 {
  color: var(--clr-light);
  font-size: 18px;
  font-weight: 700;
}
.header__logo h5 > span {
  color: var(--clr-primary);
} */

.header__nav ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.header__nav ul li a {
  color: var(--clr-primary);
}
.header__nav ul li a:hover {
  color: var(--clr-secondary);
  transition: 0.5s ease-in-out;
}

/* Banner */
.banner {
  padding-top: 10rem;
  background-image: url(./real-estate/img/home-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.banner__wrapper {
  padding: 8rem 0;
  height: 100%;
}

.banner__text {
  width: 60%;
}

.banner__text h2 {
  color: var(--clr-primary);
  font-weight: 700;
}

/* Properties */

.properties {
  padding: 4rem 0;
  background-color: var(--clr-secondary);
  margin-top: -2rem;
}

.properties__wrapper {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.properties__wrapper h5 {
  color: var(--clr-light);
  letter-spacing: 0.2rem;
}
.properties__wrapper h2 {
  color: var(--clr-light);
  font-weight: 700;
}

.properties__available {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 4rem;
}

/* Services */
.service {
  padding: 10rem 0;
}
.service__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.service__content h2 {
  font-weight: 700;
  width: 90%;
}

.service__content p {
  margin: 3rem 0;
  text-align: justify;
}

/* Testimonials */
.testimonials {
  padding: 0;
  background-color: var(--clr-dark);
}
.testimonials__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 20rem;
}

.testimonials__content {
  padding: 15rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.testimonials__content h6 {
  color: var(--clr-light);
  letter-spacing: 0.2rem;
}

.testimonials__content h2 {
  margin: 2rem 0;
  color: var(--clr-light);
  font-weight: 700;
  width: 80%;
}

.testimonials__content p {
  color: var(--clr-light);
  margin: 3rem 0;
}

.testimonials__content h3 {
  color: var(--clr-light);
  font-weight: 700;
}

.testimonials__content p:last-child {
  color: var(--clr-light);
  margin: 0.5rem 0;
  margin-bottom: 5rem;
}

.testimonials__img {
  height: 100%;
}

/* Footer */
.footer {
  background-color: var(--clr-primary);
  padding: 2rem 0;
}
.footer__content h6 {
  color: var(--clr-light);
}

/* Assets */
.property {
  background-color: var(--clr-light);
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.property__details {
  padding: 2rem;
}

.property__details h4 {
  font-weight: 700;
}
.property__details table {
  margin: 1rem 0;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.property__details td:first-child {
  font-weight: 700;
  width: 53%;
}

/* Property Action */
.property__action {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.property__price {
  font-size: 22px;
  font-weight: 700;
}

.btn {
  display: inline-block;
  background-color: transparent;
  border: transparent;
  padding: 1rem 1.2rem;
  color: transparent;
  border-radius: 0.5rem;
}
.btn.bg--primary {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.btn.bg--primary:hover {
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-light);
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}

h1 {
  font-size: 71px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 14px;
}
p {
  font-size: 18px;
}
